.contact .row{
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1em;
}

.contact .row .map{
    flex:1 1 30rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex:1 1 20rem;
    padding: 4rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #fff;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    border: var(--border);
    background: var(--black);
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 5px;
}

.contact .row form .inputBox span{
    color: #fff;
    padding-left: 1.5rem;
    font-size: 1.5rem;
}

.contact .row form .inputBox input{
    width: 100%;
    font-size: 1.5rem;
    padding: 1.5rem;
    color: #fff;
    text-transform: none;
    background: none;
}